.tooltip {
  padding-bottom: 0.3rem;
  animation: fade 175ms ease forwards;
  font-size: 0.9rem;
  font-weight: 600;
}

.rc-tooltip-inner {
  min-height: unset;
  min-width: 2.5rem;
  padding: 0.1rem 0.3rem;
  text-align: center;
  border-radius: 0.3rem;
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.rc-tooltip-arrow {
  display: none;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(0.6rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
